/* GENERAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #016B61;
  color: white;
}

/* NAVBAR */
.navbar {
  width: 100%;
  background-color: #56A7A0;
  padding: 20px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-left {
  display: flex;
  gap: 30px;
  align-items: center;
}

.logo {
  font-size: 32px;
  font-weight: bold;
}

nav a {
  margin-right: 50px;
  font-size: 18px;
  color: black;
  text-decoration: none;
}

nav a:hover,
nav a.active {
  text-decoration: underline;
}

.logout-btn {
  background-color: #016B61;
  padding: 10px 20px;
  border-radius: 20px;
  color: white;
  border: none;
  cursor: pointer;
  margin-right: 5px;
}

.logout-btn:hover {
  background-color: #059669;
}

/* MAIN LAYOUT */
.task-container {
  display: grid;
  grid-template-columns: 1.1fr 1.3fr;
  gap: 30px;
  padding: 40px 50px;
}

/* FORM SECTION */
.form-section {
  background-color: #56A7A0;
  padding: 25px;
  border-radius: 18px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.add-contact-btn {
  width: 100%;
  height: 55px;
  background-color: #34d399;
  color: white;
  font-size: 20px;
  font-weight: bold;
  border-radius: 12px;
  border: none;
  cursor: pointer;
}

.add-contact-btn:hover {
  background-color: #10b981;
}

.task-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.task-form input,
.task-form textarea {
  width: 100%;
  padding: 14px 18px;
  border-radius: 12px;
  border: none;
  outline: none;
  font-size: 15px;
}

.task-form textarea {
  height: 80px;
  resize: none;
}

.submit-btn {
  width: 100%;
  background-color: lime;
  padding: 12px;
  border: none;
  font-weight: bold;
  font-size: 18px;
  border-radius: 12px;
  cursor: pointer;
}

.selected-contact {
  margin-top: 10px;
  padding: 15px;
  background: rgba(255, 255, 255, 0.23);
  border-radius: 12px;
}

/* CONTACT LIST SECTION */
.contact-section {
  background-color: #2d8f8a;
  padding: 25px;
  border-radius: 18px;
}

.title {
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 15px;
}

.search-box {
  width: 100%;
  padding: 12px 18px;
  border-radius: 18px;
  outline: none;
  border: none;
  margin-bottom: 20px;
}

.contact-table {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.contact-row,
.contact-row.header {
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr;  /* 3 kolom */
  padding: 12px 16px;
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 0.15);
  align-items: center;
}

.contact-row.header {
  background-color: rgba(255, 255, 255, 0.3);
  font-weight: bold;
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .task-container {
    grid-template-columns: 1fr;
  }
}
